project/boot/
project/plugins/project/
src/*/target
target/
.lib/
build
.classpath
.project
.settings
.worksheet
*.log
*.iml
*.ipr
*.iws
*.class
.idea
.DS_Store
.history
.scala_dependencies
.cache
.cache-main
dist/*
.envrc
.env